.firstSeatedPlayer {
	font-weight:bold;
	color: #009999;
}

.secondSeatedPlayer {
	font-weight:bold;
	color:#FF9640;
}

.seatNumber {
	font-weight:bold;
	color:#00BF32;
}

.byePlayer {
	font-weight:bold;
	color:#BAEBAE;
	margin-top:30px;
}